body{
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#container{
    color: #d7dfe4;
}

.digit{
    font-size: 150px;
    font-weight: bold;
}

.txt{
    font-size: 40px;
    font-weight: bold;
}

#btn-container{
    text-align: center;
    margin-top: 40px;
}

.btn{
    padding: 7px 25px;
    cursor: pointer;
    margin: 0px 10px;
    font-size: 15px;
    font-weight: bold;
    border: 0px;
    color: white;
    

}


#start{
    background-color: rgb(43, 182, 43);
}

#stop{
    background-color: rgb(50, 50, 176);
}

#reset{
    background-color: rgb(205, 48, 48);
}